



.indicator {
    width: 100%;


}

.indicator .bars {
    background-color: #fff;
    width: 100%;
    display: flex;
    margin: 30px 0;
}

.bars span {
    height: 5px;
    background-color: #ffbfb496;
    width: calc(100% / 4) !important;
    border-radius: 10px;
    margin: 0 2px;
}

.banner_body {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 22px;
    z-index: 1000;
    box-shadow: 2px 10px 99px -13px rgba(0,0,0,0.69);
    -webkit-box-shadow: 2px 10px 99px -13px rgba(0,0,0,0.69);
    -moz-box-shadow: 2px 10px 99px -13px rgba(0,0,0,0.69);
    min-width: 250px;
    padding: 20px 30px;
    border: 2px solid white;
    background-color: rgb(6, 211, 6);
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
}

.mainImg {
    position: absolute;
    top: 30%;
    left: 17%;
   
    
}

.close_icon {
    border:  2px solid white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1650px) {
    .mainImg {
        left: 10px;
        
    }
}

@media screen and (max-width: 1110px) {
    .mainImg {
        left: 20px;
    }
}

@media screen and (max-width: 895px) {
    .mainImg {
        top: 50%;
        left: 30px;
        width: 350px;
    }
}

@media screen and (max-width: 766px) {
    .mainImg {
        top: 200px;
        left: 100px;
      
    }
}

@media screen and (max-width: 506px) {
    .mainImg {
        top: 250px;
        left: 0;
        width: 300px;
    }
}

.condition {
    position: relative;
    max-width: 400px;
    font-weight: 500;
    color: lightgray;
    text-align: center;
}

.condition::before, .condition::after {
    width: 14px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 0;
}